
*.pyc

src/solver/__pycache__/z3solver.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
*.pyc
src/__pycache__/__init__.cpython-38.pyc
src/graph/__pycache__/graph.cpython-38.pyc
src/graph/__pycache__/node.cpython-38.pyc
*.pyc
traces/gem5_traces/fs/addr_sliced/address_sliced.jbl
traces/gem5_traces/fs/packet_sliced/packet_sliced.jbl
fs_boot_unsliced.txt
traces/gem5_traces/pat_thread (old_dont_use)/*
